@import "tailwindcss";

* {
    font-family: sans-serif;
}

#taskList::-webkit-scrollbar {
  display: none;
}

#taskList {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

